
<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <h1 class="cover-heading">Welcome to Acebook!</h1>
        <p class="lead">Acebook helps you connect and share with the people in your life.</p>
        <p class="lead">
          <a href="/sign_ups" class="btn btn-lg btn-dark">Sign up now and connect with your friend!</a>
        </p>
      </main>
    </div>
</body>


<% if Current.user %>
  Logged in as: <%= Current.user.email %>
  <%= button_to "Log out", log_out_path, method: :delete %>
<% end %>
