.posts {
  width: 80%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}

.post-form {
  width:85%;
  height: auto;
  margin: 20px auto;
  padding: 20px;
}

body {
  font-family: sans-serif;
}

textarea {
  display: block;
  margin: 10px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
}