<div>
  <% @posts.each do |post| %>
    <div>
      <%= post.user.email %><br>
      <%= link_to post.message, post %><br>
      <% if post.image.attached? %>
        <image class="image" src="<%=(url_for(post.image))%>">
      <% end %>
    </div><br>
  <% end %>
</div>
<br>
<br>
<%= link_to new_post_path do %>
  New post
<% end %>
