<% if logged_in? %>
<br>
<%= flash[:notice] %>
Logged in as: <%= Current.user.email %>
<br>
<br>

<div>
  <% @posts.each do |post| %>
    <div>
      <%= link_to post.message, post %><br>
      <% if post.image.attached? %>
        <image class="image" src="<%=(url_for(post.image))%>">
      <% end %>
    </div><br>
  <% end %>
</div>

<% end %>
